<div class="row justify-content-center">
  <div class="col-5">
<article class="post mt-3 ml-2 mr-2 p-3 ">
      <div class="title ml-3">
        <div class="row navbar d-flex">
        <a href="/post/{{id}}">{{title}}</a> <div class="text-right">{{user.username}} on {{format_date created_at}}</div>
        </div>
        <div class="mt-2">
        {{love_count}} <img src="/images/thumbsup1.png"> &nbsp;&nbsp;&nbsp; {{dislike_count}} <img src="/images/thumbsdown.png">
        </div>
        {{!-- <p>{{post_content}}</p> --}}
      </div>
      <div class="meta mt-3 p-3">
      {{post_content}}
      </div>
    </article>
    </div>
    </div>