<article class="post">
      <div class="title">
        <a href="/post/{{id}}">{{title}}</a> Posted by {{user.username}} on {{format_date created_at}}
        {{!-- <p>{{post_content}}</p> --}}
      </div>
      <div class="meta">
        {{post_content}}
      </div>
    </article>